### **1.3.3 Sentencias**

Las __sentencias__ son las mínimas acciones escritas en un programa de Python que el __intérprete__ es capaz de ejecutar. Las asignaciones son consideradas sentencias. Un programa está compuesto de muchas sentencias para lograr su objetivo. En modo interactivo, también se ejecutan las sentencias y se muestra su resultado, siempre y cuando generen alguna salida.

*   **Sentencia de entrada**: La sentencia de entrada  de datos corresponden a la función `input`. Esta sentencia se utiliza para capturar la entrada del usuario desde la consola.  Por ejemplo:

In [2]:
type(9)

int

In [1]:
# Uso de la función básica input
input()

'4'

In [2]:
# Uso de la función input con prompt
x = input("Escriba un número real: ")

In [ ]:
x

str

**Observación**: Debemos tener en cuenta que cuando digitamos un número en el `input` el tipo de dato es de `cadena`, es decir, `string`; por lo que si escribes un número debes indicarle si es entero o real. Por ejemplo:

In [6]:
# tipo de dato de x
type(x)

str

In [5]:
# Conversión de una string numérico entero a un entero
x = int(input('Escribe un número entero '))
type(x)

int

In [7]:
# Conversión de una string numérico decimal a un número decimal
x = float(input('Escribe un número entero '))
type(x)
x

7.0

*   **Sentencia de salida**: La sentencia de salida de datos corresponden a la función `print`. Esta sentencia se utiliza para mostrar texto y otros tipos de datos en la consola. Por ejemplo

In [ ]:
# Uso del print
# TU CODIGO AQUÍ
x = 6
print('Viernes de guacherna', x)

# Uso de la función básica print
# TU CODIGO AQUÍ

# Uso del print con varias palabras sin separarla
print('Visualización''de''datos''con''python')

# Uso del print con varias palabras con separación
print('Visualización','de','datos','con','python')

Viernes de guacherna 6
Visualizacióndedatosconpython
Visualización de datos con python

In [8]:
# Uso del print con espacio sin salto de linea
# end = ' ', tiene un espacio
print('Ciencia', end = ' ')
print('de', end = ' ')
print('datos')

Ciencia de datos

In [ ]:
# Uso del print con salto de línea
print('Ciencia''\n''de''\n''datos')

Ciencia
de
datos

In [ ]:
# Otra forma de salto de linea
# end = '\n'
print('Ciencia', end = '\n')
print('de', end = '\n')
print('datos')

In [ ]:
# Uso de print separado por un caracter
print('Ciencia','de','datos',sep='\\')

Ciencia\de\datos

### **1.3.4 Operaciones aritmeticas**

Los __operadores aritméticos__ en Python son fundamentales para realizar cálculos. Se aplican sobre operandos, que pueden ser tanto variables como constantes. La tabla siguiente recoge los operadores más comunes en Python.


<div align="center">

|  __Operador__  |  __Descripción__   |  __Ejemplo__  |  __Resultado__  |
|----------------|--------------------|---------------|-----------------|
|     x + y      |       Suma         |     4 + 5     |        9        |
|     x - y      |       Resta        |     6 - 3     |        3        |
|     x * y      |   Multiplicación   |     3 \* 4    |       12        |
|     x / y      |      División      |    15 / 4     |       3.75      |
|     x % y      |       Módulo       |    15 % 4     |        3        |
|     x // y     | División entera    |    25 // 4    |        6        |
|     x ** y     |   Exponenciación   |     2 ** 3    |        8        |

</div>

In [ ]:
# Uso de las operaciones aritmeticas
# Definición de variables
a = 10
b = 3
c = 2

# Combinación de varios operadores aritméticos en una sola línea
resultado = (a+b)*c + (((a/b)**c)%b)//c

print(f'Resultado: (({a} + {b}) * {c}) - ({a} / {b}) ** {c} % {b} // {c} = {resultado}')
# f es como si fuese una función que permite utilizar variables.

Resultado: ((10 + 3) * 2) - (10 / 3) ** 2 % 3 // 2 = 27.0

**Observación**: La concatenación de caracteres en Python se realiza utilizando el operador `+`. Este operador permite unir dos o más cadenas de texto en una sola cadena. Es importante asegurarse de que ambos operandos sean cadenas de texto para evitar errores de tipo. Aquí tienes un ejemplo:

In [ ]:
cadena1 = "Hola"
cadena2 = 'Mundo'
cadena1 + cadena2

'HolaMundo'

### **1.3.5 Símbolos de asignación aumentada**

Los __símbolos de asignación aumentada__ en Python son una forma conveniente de modificar el valor de una variable utilizando un operador aritmético y la asignación. Estos operadores combinan una operación aritmética con la asignación, simplificando el código.

Aquí están los símbolos de asignación aumentada más comunes en Python:

<div align="center">

Operador  | Descripción
----------|-------------
x += y    | x = x + y
x -= y    | x = x - y
x *= y    | x = x * y
x /= y    | x = x / y
x %= y    | x = x % y
x **= y   | x = x ** y
x //= y   | x = x // y

</div>

In [ ]:
# uso de la asignación aumentada
# definamos las variables
a=3; b=2

# asignación aumenta
a+=2;b*=3

# imprimir las nuevas asignaciones
print(f'El valor de a es {a}, el valor de b es {b}')

El valor de a es 5, el valor de b es 6

### **1.3.6 Operadores de comparación**

Los operadores relacionales sirven para comparar dos expresiones y devuelven un valor booleano, que puede ser __True__ (verdadero) o __False__ (falso). Consulta la tabla siguiente para más detalles sobre estos operadores

<div align="center">

|__Comando__|__Significado__|__Ejemplo__|__Resultado__|
|-----------|---------------|-----------|-------------|
| x == y    | x es igual a y| 4 == 5    | `False`      |
| x != y    | x no es igual a y| 6 != 3 | `True`        |
| x > y     | x es mayor que y| 7 > 4   | `True`        |
| x < y     | x es menor que y| 9 < 8   | `False`      |
| x >= y    | x es mayor o igual que y| 5 >= 5 | `True`        |
| x <= y    | x es menor o igual que y| 2 <= 4 | `True`        |

</div>

In [ ]:
# Uso de las operaciones de comparación
# Definicion de variables
a = 11; b = 7
print('a > b:', a > b)
print('a <= b:', a <= b)

### **1.3.7 Operadores lógicos**:

Los __operadores lógicos__ permiten combinar subexpresiones booleanas para obtener un nuevo valor booleano. Los operadores más comunes son and, or y not, y se detallan en la siguiente tabla.

<div align="center">

| __Comando__ | __Significado__ | __Ejemplo__ | __Resultado__ |
|-------------|------------------|-------------|---------------|
| and         | y                | `True` and `False` | `False`      |
| or          | o                | `True` or `False`  | `True`        |
| not         | No               | `not` `True`       | `False`       |

</div>

In [ ]:
# Operadores lógicos
print(a > b and b == 5)
print(a < b or a != 12)

### **1.3.8 Estructuras algorítmicas**

Las __estructuras algorítmicas__ consisten en bloques formados por múltiples sentencias. Estas sentencias pueden ser simples o también pueden contener otras estructuras de bloques. Al escribir estructuras algorítmicas en Python, es crucial tener en cuenta dos aspectos importantes:

1.   Cada vez que se inicia una estructura, el encabezado debe terminar con dos puntos (:).
2.   Cada sentencia dentro de una estructura debe estar indentada en relación con el encabezado.

<div align="center">

![Est_Alg.PNG]()

</div>

#### **1.3.8.1 Sentencias condicionales**

Las __sentencias condicionales__ son estructuras de programación que permiten ejecutar cierto bloque de código si se cumple una condición especificada. En las sentencias condicionales, siempre habrá una condición después de la palabra clave.



*   **Sentencia if-else simple**: Las sentencias __if-else__ en programación permiten tomar decisiones dentro de un algoritmo. La estructura básica es la siguiente:

```python
if condición:
    bloque de código a ejecutar si la condición es verdadera
else:
    bloque de código a ejecutar si la condición es falsa
```

El flujo de control funciona así: primero, se evalúa la condición. Si la condición es verdadera (`True`), se ejecuta el bloque de código dentro del `if`. Si la condición es falsa (`False`), se ejecuta el bloque de código dentro del else. Por ejemplo:

In [9]:
# Definición de la variable
edad = 25 

# sentencia if-else
if edad >= 18:
    print('Eres mayor de edad')
else:
    print('Eres menor de edad')

Eres mayor de edad

*   **Sentencia if-else anidada**: Las sentencias __if-else anidadas__ permiten manejar múltiples condiciones en un algoritmo, ejecutando diferentes bloques de código según diversas situaciones. La estructura básica de una sentencia `if-else` anidada es la siguiente:

```python
if condición1:
     bloque de código a ejecutar si condición1 es verdadera
    if condición1_1:
        bloque de código a ejecutar si condición1_1 es verdadera
    else:
        bloque de código a ejecutar si condición1_1 es falsa
else:
    if condición2:
        bloque de código a ejecutar si condición2 es verdadera
    else:
        bloque de código a ejecutar si condición2 es falsa
```

Cada `if` o `else` dentro de otro `if` o `else` se denomina __anidado__. Esta estructura permite evaluar múltiples condiciones de manera secuencial. Por ejemplo

In [ ]:
# definición de la variable
nota = float(input('Escriba la nota que obtuvo en el examen '))

# sentencia if-else anidada
if nota >= 90:
    print("Excelente")
else:
    if nota >= 80:
        print("Muy bien")
    else:
        if nota >= 70:
            print("Bien")
        else:
            print("Necesita mejorar")

*   **Sentencia if-elif anidada**

La sentencia __if-elif__ en programación es una forma abreviada de manejar múltiples condiciones consecutivas sin necesidad de anidar múltiples `else-if`. La palabra clave __elif__ (abreviatura de `else if`) permite evaluar una nueva condición si la condición anterior es falsa, simplificando la estructura del código y mejorando su legibilidad. La estructura básica de una sentencia `if-elif` es la siguiente:

```python
if condición1:
    bloque de código a ejecutar si condición1 es verdadera
elif condición2:
    bloque de código a ejecutar si condición2 es verdadera
elif condición3:
    bloque de código a ejecutar si condición3 es verdadera
else:
    bloque de código a ejecutar si ninguna de las condiciones anteriores es verdadera
```

Cada `elif` es evaluado solo si las condiciones anteriores son falsas. Si una condición `elif` es verdadera, su bloque de código correspondiente se ejecuta y las demás condiciones no se evalúan. Por ejemplo

In [ ]:
# definición de la variable
nota = float(input('Escriba la nota que obtuvo en el examen '))
 
if nota >= 90:
    print("Excelente")
elif nota >= 80:
    print("Muy bien")
elif nota >= 70:
    print("Bien")
else:
    print("Estás barrilete")

#### **1.3.8.2 Sentencias repetitivas**

Las __sentencias repetitivas__, también conocidas como __bucles__ o __ciclos__, son estructuras de programación que permiten ejecutar repetidamente un bloque de código mientras se cumple una condición específica o durante un número determinado de iteraciones. Estas sentencias son esenciales para automatizar tareas repetitivas y para procesar secuencias de datos de manera eficiente. Los tipos más comunes de sentencias repetitivas incluyen:

*  **Bucle For**: El bucle `for` es una estructura de control de flujo que permite iterar sobre una secuencia de elementos (como una lista, tupla, cadena, conjunto o rango) y ejecutar un bloque de código para cada elemento de la secuencia. Este tipo de bucle es muy útil cuando se sabe de antemano cuántas veces se debe repetir el bloque de código, o cuando se quiere realizar una operación en cada elemento de una colección. La estructura básica de un bucle for en Python es:

```python
for elemento in secuencia:
    bloque de código a ejecutar para cada elemento
```

Aquí, elemento es una variable que toma el valor de cada elemento en la secuencia durante cada iteración del bucle. El bloque de código dentro del bucle se ejecuta una vez por cada elemento en la secuencia. Por ejemplo

In [ ]:
# Definicion de variable
palabra = "hola"

# Iterar sobre una cadena
for i in palabra:
    print(i)

h
o
l
a

In [11]:
# Iterar sobre un rango de números
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
# Definicion de variable
frutas = ["manzana", "banana", "cereza"]

# Iterar sobre una lista
for f in frutas:
    print(f)

manzana
banana
cereza

Dentro de un bucle `for`, se pueden usar las declaraciones __break__ y __continue__ para controlar el flujo del bucle:

*   **break**: Termina el bucle prematuramente, es decir, sale del bucle cuando se cumple una condición específica.
*   **continue**: Salta a la siguiente iteración del bucle, omitiendo el resto del bloque de código para la iteración actual.

In [78]:
# definición de variables
numeros = [1, 2, 3, 4, 5]

# uso del break
for numero in numeros:
    if numero == 3:
        break  # Sale del bucle cuando numero es 3
    print(numero)

# uso del continue
for numero in numeros:
    if numero % 2 == 0:
        continue  # Salta a la siguiente iteración cuando numero es par
    print(numero)

1
2
1
3
5

*   __Bucle While__: El bucle __while__ son estructuras de control de flujo que permiten ejecutar repetidamente un bloque de código mientras se cumpla una condición específica. La estructura básica de un bucle while es la siguiente:

```python
while condición:
    bloque de código a ejecutar mientras la condición sea verdadera
```

El flujo de control funciona de la siguiente manera: primero, se evalúa la condición. Si la condición es verdadera (`True`), se ejecuta el bloque de código dentro del `while`. Después de ejecutar el bloque de código, se vuelve a evaluar la condición. Este proceso se repite hasta que la condición se vuelve falsa (`False`). Por ejemplo en Python:

In [ ]:
# definición de variable
i = 0

# iteración con el bucle while
while i < 5:
    print(i)
    i += 1

Tambíen, dentro de un bucle `while`, se pueden usar las declaraciones `break` y `continue` para controlar el flujo del bucle. Por ejemplo

In [79]:
# definición de variable
i = 0

# uso del break
while i < 10:
    if i == 5:
        break  # Sale del bucle cuando i es 5
    print(i)
    i += 1

i = 0

# uso del continue
while i < 10:
    i += 1
    if i % 2 == 0:
        continue  # Salta a la siguiente iteración cuando i es par
    print(i)

0
1
2
3
4
1
3
5
7
9

### **1.3.9 Funciones en python**

Las funciones en Python son bloques de código diseñados para realizar tareas específicas y se pueden reutilizar en diferentes partes del programa. Definir y usar funciones te permite organizar tu código de manera más efectiva y reducir la redundancia.

1.   **Definición de una función**: Una __función__ se define utilizando la palabra clave `def`, seguida del nombre de la función y un paréntesis que puede contener parámetros. Dentro del bloque de código de la función, se especifican las instrucciones que se ejecutarán cuando se llame a la función.

```python
def nombre_de_la_funcion(nombre):
    """Esta función recibe un nombre (input) y muestra un saludo (output)."""
    cuerpo
    return respuesta
```

Por ejemplo

In [ ]:
def saludar(nombre):
    """Esta función tiene argumentos de entreada nombre y su salida que es un texto"""
    sal = f'Hola,{nombre}'
    return sal  

#para definirla hay que cargarla : ctrl + enter

In [ ]:
saludar('Shakira')

'Hola,Shakira'

**Observación**: Las variables creadas dentro de una función son variables locales (son válidas dentro de la función donde se usan).

2.   **Llamada a la función**: Para ejecutar el código dentro de una función, se llama a la función por su nombre y se pasan los argumentos necesarios, si los hay.

In [ ]:
mensaje = saludar("Ana")
print(mensaje)  # Salida: Hola, Ana!

3.   **Funciones con parámetros por defecto**: Las funciones pueden tener parámetros con valores predeterminados. Si el usuario no proporciona un argumento para ese parámetro, se utilizará el valor predeterminado.

In [80]:
def saludar(nombre="Invitado"):
    """Esta función recibe un nombre y muestra un saludo.
     Si no se proporciona un nombre, usa 'Invitado'."""
    saludo = f"Hola, {nombre}!"
    return saludo

# Llamada a la función sin argumentos
mensaje1 = saludar()
print(mensaje1)  # Output: Hola, Invitado!

# Llamada a la función con un argumento
mensaje2 = saludar("Carlos")
print(mensaje2)  # Output: Hola, Carlos!

Hola, Invitado!
Hola, Carlos!

4.   **Funciones con múltiples parámetros**: Una función puede aceptar múltiples parámetros y realizar operaciones con ellos.

In [ ]:
def suma(a, b):
    """Esta función suma dos números y devuelve el resultado."""
    resultado = a + b
    return resultado

# Llamada a la función
resultado_suma = suma(10, 5)

print(resultado_suma)  # Output: 15000

In [ ]:
def división(a,b):
    """Esta función vidvide dos numéros y delueve el resultado"""
    resultado = a/b
    return resultado

In [ ]:
división(b=1,a=2)

5.   **Funciones Anónimas (Lambdas)**: En Python, las funciones pequeñas y sin nombre se pueden crear usando la palabra clave `lambda`. Estas funciones son útiles para operaciones simples.

In [17]:
# Definición de una función lambda
suma = lambda x, y: x+y

# Llamada a la función lambda
resultado = suma(3, 7)
print(resultado)  # Output: 10

10

6. **Funciones Recursivas**: Una función recursiva es aquella que se llama a sí misma para resolver un problema. Es importante definir una condición de parada para evitar una recursión infinita.

In [ ]:
def factorial(n):
    """Esta función calcula el factorial de un número de manera recursiva."""
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Llamada a la función
resultado_factorial = factorial(5)
print(resultado_factorial)  # Output: 120

7.  **Funciones Internas**: Python incluye una serie de funciones integradas que facilitan tareas comunes. Estas funciones están disponibles por defecto y no requieren importación adicional. Algunas de estas funciones internas son `len()`, `max()`, `min()`, etc., se llaman directamente con su nombre y los argumentos necesarios entre paréntesis. Estas funciones están disponibles globalmente en Python y no pertenecen a un objeto específico. Aquí puedes encontrar más funciones internas de python. Aquí tienes un enlace a la documentación oficial de Python sobre funciones integradas [built-in functions](https://docs.python.org/3/library/functions.html).

## **1.4 Uso de estructuras de datos básicas (vectores, listas, matrices, diccionarios)**

### **1.4.1 Vectores**

Un __vector__ es una secuencia ordenada de elementos, que pueden ser números, caracteres o cualquier otro tipo de dato. En Python, los vectores se pueden implementar utilizando listas.

Las características de un vector son:

*   **Ordenados**: Los elementos tienen un orden definido.
*   **Indexados**: Cada elemento tiene una posición (índice) en el vector

Algunas operaciones comunes:

*  __Acceso a elementos por índice__:

In [ ]:
# Crear un vector
vector = [10, 20, 30, 40, 50]

# Acceder al primer elemento (índice 0)
print(vector[0])  # Output: 10

# Acceder al tercer elemento (índice 2)
print(vector[2])  # Output: 30

*   __Modificación de elementos__:

In [ ]:
# Crear un vector
vector = [10, 20, 30, 40, 50]

# Modificar el segundo elemento (índice 1)
vector[1] = 25
print(vector)  # Output: [10, 25, 30, 40, 50]

*   **Suma, resta, multiplicación y división de vectores**:
En programación científica, estas operaciones a menudo se realizan utilizando bibliotecas como `NumPy` para una mayor eficiencia y facilidad. Por ejemplo:

In [81]:
# importar biblioteca
import numpy as np  #solo si instale numpy en mi venv

# Crear dos vectores (arrays de NumPy)
vector1 = np.array([3,4,5])
vector2 = np.array([5,6,-7])
vector3 = np.array([1,2,3,4])

#vector1+vector2
#2*vector1-3*vector2
#vector1@vector2 #producto punto

*   **Agregar elementos a un vector**:

In [26]:
# Crear un vector
vector = [10, 20, 30]

# Agregar un nuevo elemento al final del vector
vector.append(40)
print(vector)  # Output: [10, 20, 30, 40]

[10, 20, 30, 40]

### **1.4.2 Listas**

Las __listas__ en Python son estructuras de datos que pueden almacenar una colección ordenada de elementos, los cuales pueden ser de diferentes tipos. Las listas son dinámicas, lo que significa que pueden crecer o reducirse según sea necesario.

Las características de una lista son:
* **Mutables**: Los elementos pueden ser modificados después de la creación de la lista.
* **Heterogéneas**: Pueden contener diferentes tipos de datos.
* **Anidadas**: Pueden contener otras listas como elementos.

Algunas operaciones comunes son:

* **Añadir elementos**:

In [ ]:
# crear lista
lista = [1, 2, 3]

# append(): Añade un solo elemento al final de la lista
lista.append(4)
print(lista)  # Output: [1, 2, 3, 4]

# extend(): Añade múltiples elementos al final de la lista
lista.extend([4, 5, 6])
print(lista)  # Output: [1, 2, 3, 4, 5, 6]

* **Eliminar elementos**:

In [ ]:
# crear lista
lista = [1, 2, 3, 4]

# remove(): Elimina la primera aparición de un valor en la lista.
lista.remove(2)
print(lista)  # Output: [1, 3, 4]

# pop(): Elimina y devuelve el elemento en el índice especificado (por defecto, el último)
elemento = lista.pop()
print(elemento)  # Output: 4
print(lista)  # Output: [1, 2, 3]

elemento = lista.pop(1)
print(elemento)  # Output: 2
print(lista)  # Output: [1, 3]

*   **Ordenar elementos**:

In [ ]:
# crear lista
lista = [4, 2, 3, 1]

# sort(): Ordena los elementos de la lista en su lugar.
lista.sort()
print(lista)  # Output: [1, 2, 3, 4]

# sorted(): Devuelve una nueva lista ordenada sin modificar la original.
lista_ordenada = sorted(lista)
print(lista_ordenada)  # Output: [1, 2, 3, 4]

*   **Acceder a elementos por índice:**

In [ ]:
# crear lista
lista = ['a', 'b', 'c', 'd']

print(lista[0])

* **Modificar elementos**:

In [ ]:
# crear lista
lista = [10, 20, 30, 40]

lista[1] = 25
print(lista)  # Output: [10, 25, 30, 40]

### **1.4.3 Generadores de valores y vectores aleatorios**

Los **generadores de valores aleatorios** son herramientas fundamentales en la ciencia de datos y el análisis estadístico. Permiten crear números o arreglos de números pseudoaleatorios que son esenciales para la simulación, muestreo, y pruebas estadísticas.

**NumPy** proporciona funciones poderosas para generar valores aleatorios a través del módulo `numpy.random`. Estas funciones permiten:

* Generar números aleatorios de diferentes distribuciones de probabilidad
* Crear matrices y vectores con valores aleatorios
* Realizar muestreo aleatorio de datos
* Establecer semillas (seeds) para reproducibilidad

El módulo **`random`** de Python también ofrece capacidades para generar valores aleatorios, aunque es menos potente que NumPy para operaciones con arreglos grandes. 

Para más información, puedes consultar la [documentación oficial de random](https://docs.python.org/3/library/random.html), donde encontrarás recursos y ejemplos detallados para aprovechar al máximo esta librería.

#### **1.4.3.1 Conceptos clave:**

* **Reproducibilidad**: Mediante el uso de semillas (seed), podemos reproducir exactamente los mismos números "aleatorios"
* **Distribuciones**: Los valores aleatorios pueden seguir diferentes distribuciones como uniforme, normal (gaussiana), exponencial, etc.
* **Vectorización**: NumPy permite generar múltiples valores aleatorios simultáneamente de forma eficiente

In [84]:
import numpy as np
import random as rand

# Establecer semillas para reproducibilidad
np.random.seed(42)
rand.seed(42)

#### **1.4.3.2 Números aleatorios uniforme con NumPy**

La distribución uniforme genera números que tienen la misma probabilidad de ocurrir en un rango especificado.

In [82]:
# Generar un número aleatorio entre 0 y 1
#num_aleatorio = np.random.randint(0,1)
num_aleatorio = np.random.rand() #genera un numero aleatorio entre 0 y 1 de forma predeterminada
print("Número aleatorio entre 0 y 1:", num_aleatorio)

# Generar un vector de 5 números aleatorios entre 0 y 1
np.random.seed(42)  #para q salga lo mismo no importa cuantas veces lo hagas
vector_aleatorio = np.random.rand(5)
print("\nVector de 5 números aleatorios:\n", vector_aleatorio)

# Generar números aleatorios en un rango específico (entre 10 y 20)
num_rango = np.random.uniform(10,20,5)
print("\n5 números aleatorios entre 10 y 20:\n", num_rango)
#pseudoaleatorio

Número aleatorio entre 0 y 1: 0.8532357849579486

Vector de 5 números aleatorios:
 [0.37454012 0.95071431 0.73199394 0.59865848 0.15601864]

5 números aleatorios entre 10 y 20:
 [11.5599452  10.58083612 18.66176146 16.01115012 17.08072578]

#### **1.4.3.3 Distribución normal (Gaussiana)**

La distribución normal es una de las distribuciones más importantes en estadística. Genera números que tienden a agruparse alrededor de una media con una desviación estándar especificada.

In [ ]:
# Generar números con distribución normal (media=0, desviación estándar=1)
numeros_normales = np.random.randn(10)
print("10 números con distribución normal estándar:\n", numeros_normales)

# Generar números con distribución normal personalizada (media=100, desviación estándar=15)
numeros_normales_personalizados = np.random.normal(loc=100,scale=15,size=10)      #por defecto por defecto es normal estándar, media=0 y d_e=10
print("\n10 números normales con media=100, desv est=15:\n", numeros_normales_personalizados)

10 números con distribución normal estándar:
 [ 0.50410797  0.64465157  0.7046699  -0.53958798  0.21808868  0.89291365
 -0.33712943 -0.23738843 -1.29460075  1.09102973]

10 números normales con media=100, desv est=15:
 [ 99.219518    95.20727622 114.5261992   98.26431135  80.71005654
 110.75362155  99.72359935  64.68522776 114.39931496  96.71149898]

#### **1.4.3.4 Números aleatorios con el módulo `random`**

El módulo `random` de Python es más simple que NumPy pero útil para tareas que no requieren procesamiento de grandes arreglos. Aquí generamos números aleatorios usando `import random as rand`.

In [85]:
# Generar un número aleatorio entre 0 y 1
numero_random = rand.random()
print("Número aleatorio (random):", numero_random)

# Generar un número aleatorio entero entre 1 y 100
numero_entero = rand.randint(1, 100)
print("Número entero aleatorio entre 1 y 100:", numero_entero)

# Generar un número aleatorio con distribución uniforme entre 10 y 50
numero_uniforme = rand.uniform(10, 50)
print("Número uniforme entre 10 y 50:", numero_uniforme)

# Crear una lista de números aleatorios
lista_aleatoria = [rand.randint(1, 10) for _ in range(5)]
print("Lista de 5 números aleatorios entre 1 y 10:", lista_aleatoria)

# Elegir un elemento aleatorio de una lista
opciones = ["Manzana", "Plátano", "Cereza", "Dátil", "Fresa"]
eleccion_aleatoria = rand.choice(opciones)
print("Fruta seleccionada aleatoriamente:", eleccion_aleatoria)

Número aleatorio (random): 0.6394267984578837
Número entero aleatorio entre 1 y 100: 4
Número uniforme entre 10 y 50: 39.66201999039332
Lista de 5 números aleatorios entre 1 y 10: [4, 4, 3, 2, 9]
Fruta seleccionada aleatoriamente: Manzana

#### **1.4.3.5 Reproducibilidad con semillas (Seeds)**

Las semillas permiten reproducir exactamente los mismos números "aleatorios" en ejecuciones posteriores. Esto es fundamental para la investigación científica y el debugging.

In [ ]:
print("=== Ejemplo 1: Usando semilla en NumPy ===")
# Primera ejecución con semilla
np.random.seed(123)
print("Primer set de números con seed=123:")
print(np.random.rand(5))

# Segunda ejecución con la misma semilla
np.random.seed(123)
print("Segundo set (igual semilla, mismos números):")
print(np.random.rand(5))

print("\n=== Ejemplo 2: Usando semilla en random ===")
# Primera ejecución con semilla
rand.seed(999)
print("Primer set con seed=999:")
print([rand.randint(1, 100) for _ in range(5)])

# Segunda ejecución con la misma semilla
rand.seed(999)
print("Segundo set (igual semilla, mismos números):")
print([rand.randint(1, 100) for _ in range(5)])

In [ ]:
#NumPy proporciona muchas otras distribuciones de probabilidad como Poisson, Binomial, Exponencial, etc.



# Distribución Poisson (eventos que ocurren en intervalos de tiempo)
poisson = np.random.poisson(lam=3, size=10)
print("Números con distribución Poisson (λ=3):", poisson)  #el landa indica la media y la varianza es landa

# Distribución Binomial (éxitos en n intentos)
binomial = np.random.binomial(n=10, p=0.5, size=10)
print("Números con distribución Binomial (n=10, p=0.5):", binomial)

# Distribución Exponencial (tiempo entre eventos)
exponencial = np.random.exponential(scale=2.0, size=10)
print("Números con distribución Exponencial (scale=2.0):", exponencial)

# Permutación aleatoria de un vector
vector = np.arange(10)  # [0,1,2,3,4,5,6,7,8,9]
permutacion = np.random.permutation(vector)
print("\nVector original:", vector)
print("Vector permutado:", permutacion)

# Muestreo aleatorio sin reemplazo
muestra = np.random.choice(np.arange(1, 50), size=5, replace=False)
print("\nMuestra de 5 números sin reemplazo del 1 al 49:", muestra) #sin repetición supongo?

### **1.4.4 Matrices**

Las __matrices__ son arreglos rectangulares de elementos, es decir,

$$
A = \left(\begin{matrix}
a_{11} & a_{12} & ⋯ & a_{1n}\\
a_{21} & a_{22} & ⋯ & a_{2n}\\
\vdots & \vdots & \ddots & \vdots\\
a_{m1} & a_{m2} & ⋯ & a_{mn}\\
\end{matrix}
\right)_{m \times n}
$$

donde $m$ es el número de filas y $n$ es el número de columnas

En Python, las matrices pueden ser implementadas usando listas de listas o utilizando bibliotecas como __NumPy__, que proporciona una funcionalidad más eficiente para el manejo de matrices.

Las matrices poseen varias características que las hacen útiles para muchas aplicaciones, especialmente en matemáticas, ciencia de datos, y programación científica:

* Dimensionalidad: Las matrices son bidimensionales, organizadas en filas y columnas. Además, se pueden extender a más dimensiones, formando tensores en contextos más avanzados.

* Homogeneidad: Los elementos de una matriz deben ser del mismo tipo (e.g., todos enteros, todos flotantes).

* Indexación: Los elementos de una matriz se acceden utilizando un par de índices: uno para la fila y otro para la columna.

* Mutabilidad: Las matrices pueden ser modificadas después de su creación, permitiendo la actualización de elementos individuales o la reasignación de filas y columnas completas.

* Operaciones Matemáticas: Las matrices admiten una variedad de operaciones matemáticas, tales como suma, resta, multiplicación (tanto elemento a elemento como producto matricial), y transposición. Estas operaciones son esenciales para cálculos algebraicos lineales y análisis numérico.

Transposición: La transposición de una matriz implica intercambiar sus filas por columnas, y es una operación comúnmente utilizada en diversas aplicaciones matemáticas y científicas.

* Determinante y Rango: Para matrices cuadradas (mismo número de filas y columnas), se pueden calcular propiedades como el determinante y el rango, que tienen importantes aplicaciones en álgebra lineal.

In [ ]:
import numpy as np

# Creacion de matriz
matriz = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

matriz

* __Acceso a elementos por filas y columnas:__

In [ ]:
# Acceder al elemento en la primera fila, segunda columna
matriz[0][1]

# Acceder al elemento en la tercera fila, primera columna
matriz[2][0]

# Acceder a la segunda columna
matriz[:, 1]

# Acceder a la segunda fila
fila = matriz[1]

Realizacemos algunas operaciones con matrices

In [ ]:
# Crear dos matrices
matriz1 = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

matriz2 = np.array([
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
])

# Suma de matrices (deben tener las mismas dimensiones)
suma = matriz1 + matriz2
print("Suma:\n", suma)

# Resta de matrices (deben tener las mismas dimensiones)
resta = matriz1 - matriz2
print("Resta:\n", resta)


# Multiplicación de elmento a elemento de matrices (deben tener las mismas dimensiones)
multiplicacion = matriz1 * matriz2
print("Multiplicación elemento por elemento:\n", multiplicacion)

# Multiplicación de matrices (producto matricial)

# El número de columnas de la matriz izquierda debe ser igual
# al número de filas de la matriz derecha
producto_matricial = np.dot(matriz1, matriz2)
print("Producto matricial:\n", producto_matricial)

# Transponer la matriz
transpuesta = matriz.T
print("Transposición:\n", transpuesta)

# Crear una matriz identidad de 3x3
identidad = np.eye(3)
print("Matriz identidad:\n", identidad)

# Calcular el determinante
np.linalg.det(matriz1)

### **1.4.5 Diccionarios**

Los __diccionarios__ son una estructura de datos que almacena pares de clave-valor. Cada clave es única y se utiliza para acceder a su valor asociado. Los diccionarios son útiles cuando se necesita un mapeo entre elementos, como por ejemplo, asociar nombres con números de teléfono.

Las características de los diccionarios son:

* __Clave-Valor__: Cada elemento en un diccionario es un par clave-valor. Las claves deben ser únicas y de un tipo de datos inmutable (como cadenas, números o tuplas), mientras que los valores pueden ser de cualquier tipo de datos, incluso listas o otros diccionarios.

* __Acceso Rápido__: Los diccionarios permiten un acceso rápido a los valores mediante sus claves, lo que los hace muy eficientes para búsquedas y actualizaciones.

* __No Ordenado__: A partir de Python 3.7, mantienen el orden de inserción, pero esto no es algo en lo que debas confiar en versiones anteriores.

* __Mutable__: Los diccionarios pueden ser modificados después de su creación, permitiendo agregar, eliminar o cambiar pares clave-valor.

* __Flexible__: Los valores en un diccionario pueden ser de cualquier tipo de datos, y los diccionarios pueden incluso anidarse dentro de otros diccionarios.:

Algunos ejemplos de diccionarios:

* __Creación de un diccionarios__:

In [ ]:
# Crear un diccionario vacío
mi_diccionario = {}

# Crear un diccionario con algunos pares clave-valor
estudiante = {
    "nombre": "Juan",
    "edad": 21,
    "carrera": "Ingeniería"
}

print(estudiante)

* __Acceso a un valor__:

In [ ]:
# Acceder al valor asociado con la clave "nombre"
nombre = estudiante["nombre"]
print(nombre)

* __Modificar un valor__:

In [ ]:
# Cambiar el valor asociado con la clave "edad"
estudiante["edad"] = 22
print(estudiante)

* __Agregar un nuevo par clave-valor__:

In [ ]:
# Agregar una nueva clave "promedio" con su valor
estudiante["promedio"] = 4.5
print(estudiante)

* __Eliminar un par clave-valor__:

In [ ]:
# Eliminar la clave "carrera" y su valor asociado
del estudiante["carrera"]
print(estudiante)

* __Recorrer un diccionario__:

In [ ]:
# Recorrer las claves y valores de un diccionario
for clave, valor in estudiante.items():
    print(f"{clave}: {valor}")

* __Comprobar si una clave existe__:

In [ ]:
if "nombre" in estudiante:
    print("El nombre del estudiante es:", estudiante["nombre"])

* __Diccionarios anidados__:

In [ ]:
# Crear un diccionario anidado
clases = {
    "Matemáticas": {
        "Profesor": "Sr. Pérez",
        "Horario": "8:00 - 10:00"
    },
    "Historia": {
        "Profesor": "Sra. García",
        "Horario": "10:00 - 12:00"
    }
}

# Acceder a datos en un diccionario anidado
print(clases["Matemáticas"]["Profesor"])

Los diccionarios son una estructura fundamental en Python, especialmente útil para organizar y acceder a datos de manera eficiente.

:::{admonition} **Ejercicio 1**
:class: tip

Dado un valor $n$, realice las siguientes tareas:

1. **Calcular el factorial**: Obtenga el resultado de multiplicar los números del 1 al $n$ (factorial de $n$). Implemente una función que realice este cálculo.

2. **Matriz comparativa de vectores aleatorios**: 
   - Cree dos vectores $V_1$ y $V_2$ de tamaño $n$ con números aleatorios entre 1 y 10
   - Genere un vector $V_3$ donde:
     - $V_3[i] = 0$ si $V_1[i] < V_2[i]$
     - $V_3[i] = 1$ en caso contrario
   - Concatene los tres vectores ($V_1$, $V_2$, $V_3$) como columnas para obtener una matriz de dimensiones $(n \times 3)$

**Sugerencias:**
- Utilice `NumPy` para generar los vectores aleatorios
- Use `np.random.randint()` para los números aleatorios
- Use `np.concatenate()` para combinar los vectores en una matriz
- Pruebe con $n = 10$ como ejemplo

:::

:::{admonition} **Ejercicio 2**
:class: tip

Dado valores $m$ (número de filas) y $n$ (número de columnas), realice las siguientes tareas:

1. **Crear matriz de ceros**: Genere una matriz $A$ de dimensiones $(m \times n)$ inicializada con ceros.

2. **Llenar matriz con números aleatorios (usando `while`)**: 
   - Utilizando un bucle `while`, reemplace cada columna de la matriz $A$ por vectores de números aleatorios enteros en el rango $[-1, 3]$
   - Recorra columna por columna

3. **Transformar elementos (usando `while`)**: 
   - Utilizando dos bucles `while` anidados, recorra todos los elementos de la matriz
   - Reemplace los elementos **negativos** por $-1$
   - Reemplace los elementos **no negativos** (cero o positivos) por $5$

4. **Repetir transformación (usando `for`)**: 
   - Realice el mismo ejercicio del paso 3, pero esta vez utilizando dos bucles `for` anidados
   - Compare los resultados para verificar que ambos métodos producen la misma matriz

**Sugerencias:**
- Use `np.zeros()` para crear la matriz inicial
- Use `np.random.randint()` para generar números aleatorios
- Recuerde que `while` requiere control manual del índice (incremento)
- Compare las dos matrices finales con `np.array_equal()`
- Pruebe con $m = 4$ y $n = 3$ como ejemplo

:::

### **1.4.6 Guardado y carga de funciones personalizadas de forma practica**

Una forma práctica para guardar y luego utilizar mis funciones de manera práctica consiste en:

1. Crear un archivo de texto que contenga todas las funciones (teniendo cuidado con la sangría en cada función) y guardar este archivo en alguna carpeta del computador.

2. Anexar la carpeta del item (1) a los "path" del python considerando los códigos:

      __import sys__
      
      __sys.path.append("PONER LA DIRECCIÓN DE SU PC/nombre de la carpeta/")__
      

3. Leer el archivo de las funciones con el código

    __import nombre_del_archivo.py as algún_alias__
    

4. El alias escogido en el item anterior contendrá todas las funciones creadas.

Cuando trabajamos con Python, es común crear funciones útiles que queremos reutilizar en diferentes proyectos. En lugar de reescribir el código cada vez, podemos guardar nuestras funciones en archivos independientes (módulos) e importarlos cuando los necesitemos.

:::{admonition} **Ventajas**
:class: note
Las ventajas de crear funciones y guardalos en archivos .py serán
- **Reutilización de código**: Usa tus funciones en múltiples proyectos
- **Organización**: Mantén tu código limpio y modular
- **Mantenimiento**: Actualiza un archivo central en lugar de múltiples copias
- **Eficiencia**: Evita duplicación de código
:::

Realicemos un ejemplo paso a paso:

- Crea un archivo de texto (usando Notepad, VS Code, etc.) con todas tus funciones. Es muy importante **cuidar la indentación** (espacios o tabulaciones) dentro de cada función. Ejemplo de contenido para un archivo llamado `mis_funciones.py`:

```python
# Función 1: Calcular el factorial
def factorial(n):
    """Calcula el factorial de n"""
    resultado = 1
    for i in range(1, n + 1):
        resultado *= i
    return resultado

# Función 2: Sumar números impares
def sumar_impares(n):
    """Suma todos los números impares del 0 al n"""
    suma = 0
    for i in range(n):
        if i % 2 != 0:
            suma += i
    return suma

# Función 3: Generar múltiplos
def multiplos(a, n):
    """Genera una lista de múltiplos de a hasta n"""
    return [i * a for i in range(1, n // a + 1)]
```

- Guarda este archivo en una carpeta del sistema (por ejemplo: `C:\Mi_Python_Modulos\` o `/Users/tu_usuario/Python_Modulos/`)

- Antes de importar el módulo, debes agregar la carpeta donde está guardado al "path" de Python.

```python
import sys
sys.path.append("C:\Documentos\Books_CienciaDatos\pbook_dataviz\docs\mis_funciones.py")
```

- Importa tu módulo personalizado usando:

```python
import mis_funciones as fn
```

El alias `fn` te permitirá acceder a todas las funciones del módulo.

- Accede a las funciones usando la notación de punto:

```python
fn.factorial(10)
fn.sumar_impares(20)
fn.multiplos(3, 30)
```

In [38]:
import sys
sys.path.append("C:/Users/danih/Documents/Dataviz_py/funciones.py")
import funciones as fn

In [39]:
fn.suma(a=1,b=2)
fn.factorial(n=4)

24

## **1.5 Introducción a la manipulación de datos: Creación, manipulación y análisis de datos tabulares**

La manipulación de datos es una habilidad fundamental en el análisis de datos. Los datos tabulares se organizan en un formato de filas y columnas, similar a una hoja de cálculo, lo que permite un acceso ordenado y eficiente a la información. Este formato es especialmente útil para realizar análisis estadísticos, crear visualizaciones, y construir modelos predictivos.

Los __datos tabulares__ se refieren a la disposición de la información en una tabla, donde:

*  __Filas__: Cada fila (o registro) representa una observación individual o una instancia de un conjunto de datos. Por ejemplo, en un conjunto de datos sobre clientes, cada fila podría representar a un cliente único, incluyendo toda la información relevante de ese cliente.

*  __Columnas__: Cada columna (o variable) contiene una característica específica de las observaciones. Siguiendo el ejemplo anterior, las columnas podrían incluir variables como el nombre del cliente, la edad, la ciudad de residencia, o el monto de compra. Las columnas son homogéneas, es decir, todas las entradas en una columna deben ser del mismo tipo de datos (números, texto, fechas, etc.).

Este formato tabular facilita operaciones como la búsqueda de valores específicos, el filtrado de datos basados en condiciones, la agregación de resultados, y la combinación de diferentes conjuntos de datos.

`Pandas` es una herramienta de manipulación de datos de alto nivel desarrollada por Wes McKinney. En su inicio es construido sobre `Numpy` y ahora compatible con Arrow y **permite el análisis de datos** que cuenta con las estructuras de datos que necesitamos para limpiar los datos en bruto y que sean aptos para el análisis (por ejemplo, tablas). Como `Pandas` permite realizar tareas importantes, como alinear datos para su comparación, fusionar conjuntos de datos, gestión de datos perdidos, etc., se ha convertido en una librería muy importante para procesar datos a alto nivel en Python (es decir, estadísticas ). `Pandas` fue diseñada originalmente para gestionar datos financieros, y como alternativo al uso de hojas de cálculo (es decir, Microsoft Excel). Las dos principales estructuras de datos que ofrece `Pandas` son:

* __Series__: Una `Series` es un arreglo unidimensional similar a un array de `Numpy` o a una lista en Python, pero con etiquetas de eje (llamadas índices). Es ideal para trabajar con datos univariados.

* __DataFrame__: Un `DataFrame` es una estructura de datos bidimensional, como una tabla en una hoja de cálculo, que permite el almacenamiento y manipulación de datos tabulares. Es la estructura de datos más utilizada en Pandas y soporta operaciones de filtrado, agregación, pivote, fusión, y mucho más.

`Pandas` proporciona herramientas que permiten:

* leer y escribir datos en diferentes formatos: CSV, JSON, Excel, bases SQL, parquet y HDF5 entre otros.
* seleccionar y filtrar de manera sencilla tablas de datos en función de posición, valor o etiquetas.
* fusionar y unir datos
* transformar datos aplicando funciones tanto en global como por ventanas
* manipulación de series temporales
* hacer gráficas

Pandas es extremadamente poderoso debido a su capacidad para manejar grandes volúmenes de datos, realizar cálculos complejos y trabajar con diferentes tipos de datos, todo de manera eficiente.

En este link podrás encontrar todas las funciones que necesitas para trabajar ETL de los datos usando [Pandas](https://pandas.pydata.org/docs/index.html). 

### **1.5.1 Creación de datos tabulares**

Los datos tabulares pueden ser creados de varias maneras dependiendo de la fuente de datos y el propósito del análisis. Aquí exploramos la creación manual:

1.  Creamos primero una lista de listas o diccionario:

In [24]:
# Crear un diccionario
data={
    "Nombre":["María","Ana", "Pedro", "Juan", "Carlos", "Sara"], # Lista de nombres se plantea con corchetes
    "Edad":[21,22,19,26,22,19], # Lista de edades se plantea con corchetes
    "Género":["F","F","M","M","M","F"] # Lista de género se plantea con corchetes
}

# Imprimir data
print(data)

{'Nombre': ['María', 'Ana', 'Pedro', 'Juan', 'Carlos', 'Sara'], 'Edad': [21, 22, 19, 26, 22, 19], 'Género': ['F', 'F', 'M', 'M', 'M', 'F']}

2. Importemos el módulo __pandas__:

In [25]:
# Libreria 
import pandas as pd

3. Convertimos el diccionario en un __DataFrame__:

In [26]:
# DataFrame es una función que está dentro del módulo pandas
df=pd.DataFrame(data) 
df

   Nombre  Edad Género
0   María    21      F
1     Ana    22      F
2   Pedro    19      M
3    Juan    26      M
4  Carlos    22      M
5    Sara    19      F

### **1.5.2 Manipulación de datos** 

Una vez que los datos tabulares están disponibles en un DataFrame, Pandas ofrece una variedad de herramientas para manipularlos de forma efectiva. Esto incluye la capacidad de:

* __Seleccionar y Filtrar__: Acceder a subconjuntos de los datos basados en condiciones específicas.
* __Ordenar__: Organizar los datos en función de los valores de una o más columnas.
* __Agregar y Transformar__: Crear nuevas columnas, modificar las existentes o realizar operaciones matemáticas en los datos.
* __Combinar__: Fusionar, concatenar y unir diferentes DataFrames para enriquecer los datos.

Estas son algunas propiedades generales:

* El método `df.info()` en Pandas es una herramienta útil para obtener un resumen conciso de la estructura de un DataFrame. Este método proporciona información clave sobre el DataFrame, incluyendo el número de filas y columnas, el nombre de cada columna, el número de valores no nulos en cada columna, el tipo de datos de cada columna y la cantidad de memoria utilizada por el DataFrame.

In [27]:
# Obtener información sobre la estructura del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  6 non-null      object
 1   Edad    6 non-null      int64
 2   Género  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

__Observación__:

* __object:__ significa que la variable es categórica o cualitativa

* __int64:__ significa que la variable es numérica o cuantitativa (números enteros). El número es el tamaño en bits que ocupa de memoria.

* __float64:__ significa que la variable es numérica o cuantitativa (números decimales). El número es el tamaño en bits que ocupa de memoria.

El atributo `df.shape` en Pandas es una propiedad que proporciona las dimensiones del DataFrame df. Específicamente, devuelve una tupla que indica el número de filas y columnas que contiene el DataFrame.

In [28]:
# Obtener las dimensiones del DataFrame
df.shape

(6, 3)

* El método `df.head()` en Pandas se utiliza para ver las primeras filas de un DataFrame. Por defecto, `head()` muestra las primeras 5 filas, pero puedes especificar cuántas filas deseas ver pasando un número como argumento.

In [30]:
# Mostrar las 5 primeras filas del DataFrame
df.head()

# Mostrar las 2 primeras filas del DataFrame
df.head(n=2)

  Nombre  Edad Género
0  María    21      F
1    Ana    22      F

* El método `df.tail()` en Pandas se utiliza para ver las últimas filas de un DataFrame. Por defecto, `tail()` muestra las últimas 5 filas, pero también puedes especificar cuántas filas deseas ver pasando un número como argumento.

In [31]:
# Mostrar las 5 ultimas filas de DataFrame
df.tail()

# Mostrar las 3 ultimas filas de DataFrame
df.tail(n=3)

   Nombre  Edad Género
3    Juan    26      M
4  Carlos    22      M
5    Sara    19      F

* El atributo `df.columns` en Pandas se utiliza para acceder a los nombres de las columnas de un DataFrame. Este atributo devuelve un objeto de tipo Index que contiene los nombres de todas las columnas del DataFrame.

In [32]:
df.columns

Index(['Nombre', 'Edad', 'Género'], dtype='object')

**Observación**: 

Puedes utilizar `df.columns` para acceder o modificar los nombres de las columnas. Por ejemplo, si quieres cambiar el nombre de una columna, puedes hacerlo asignando un nuevo valor a `df.columns`.

In [33]:
# Renombrar las columnas del DataFrame
df.columns = ['Nombre_Cliente', 'Edad_Cliente', 'Genero_Cliente']

El atributo `df.index` en Pandas se utiliza para acceder al índice (o las etiquetas de las filas) de un DataFrame. Este índice es una estructura que identifica cada fila de manera única, y puede ser numérico, alfanumérico, o incluso basado en fechas, dependiendo de cómo se construyó el DataFrame

In [34]:
# Obtener el índice del DataFrame
df.index

RangeIndex(start=0, stop=6, step=1)

**Observación**: 

Puedes utilizar `df.index` para acceder o modificar los nombres de las filas. Por ejemplo, si quieres cambiar el nombre de una columna, puedes hacerlo asignando un nuevo valor a `df.index`

In [35]:
df.index=["a","b","c","d","e","f"]
df

  Nombre_Cliente  Edad_Cliente Genero_Cliente
a          María            21              F
b            Ana            22              F
c          Pedro            19              M
d           Juan            26              M
e         Carlos            22              M
f           Sara            19              F

* El método `df.sort_values()` en Pandas se utiliza para ordenar un DataFrame en función de los valores de una o más columnas. Por ejemplo:

In [36]:
# Ordenar el DataFrame df por la columna 'Edad' en orden descendente
df.sort_values('Edad_Cliente', ascending=True)

  Nombre_Cliente  Edad_Cliente Genero_Cliente
c          Pedro            19              M
f           Sara            19              F
a          María            21              F
b            Ana            22              F
e         Carlos            22              M
d           Juan            26              M

**Observación**:

Algunos de los parámetros del ejemplo anterior de la función `sort_values` son:

* `Edad`: Especifica la columna en función de la cual deseas ordenar los datos. En este caso, se está ordenando por la columna `Edad`.

* `ascending=False`: Indica que la ordenación debe hacerse en orden descendente. Si quisieras ordenar en orden ascendente, usarías `ascending=True` (que es el valor por defecto).

* `inplace=True`: Al establecer `inplace=True`, el DataFrame original df se modifica directamente y se ordena. Si se omitiera o se estableciera como False, el método devolvería un nuevo DataFrame ordenado, dejando el DataFrame original sin cambios.

El atributo `df.iloc` en Pandas se utiliza para acceder a un DataFrame mediante índices enteros (basados en la posición). Este método es útil cuando necesitas seleccionar filas y columnas de un DataFrame basándote en su posición, en lugar de los nombres de las etiquetas. Por ejemplo:

In [59]:
#selecciona fila 1
#df.iloc[0]

#selecciona las tres primeras
#df.iloc[0:3]

#selecciona la primera y la tercera
#df.iloc[[0,2]]

#selecciona la primera columna
#df.iloc[:,0]

#selecciona la primera y la tercera
#df.iloc[:,[0,2]]

#selecciona lo q tiene edad menor o igual a 20
#df.iloc[:,1]<=20
df.loc[df.iloc[:,1]<=20]

# Seleccionar las columnas por su nombre 
#df["Nombre"]

# Otra forma de seleccionar las columnas por su nombre 
#df.Nombre


# Seleccionar el valor en la primera fila como un DataFrame
#df.iloc[[0],:]

# Seleccionar las filas 1 y 3 como un DataFrame
#df.iloc[[0,2],:]

# Seleccionar las columnas 1 y 3 como un DataFrame
#df.iloc[:,[0,2]]

  Nombre_Cliente  Edad_Cliente Genero_Cliente
c          Pedro            19              M
f           Sara            19              F

* El método `df.loc` en Pandas se utiliza para acceder a un DataFrame por etiquetas de filas y columnas, a diferencia de `iloc`, que usa posiciones numéricas. `loc` permite una variedad de operaciones para seleccionar y filtrar datos basados en las etiquetas de los índices y columnas. Por ejemplo:

In [77]:
# Seleccionar la fila con la etiqueta 'b'
df.loc['b']

# Seleccionar las filas con etiquetas de 'a' a 'c' (inclusive)
df.loc['a':'c']

# Seleccionar el valor en la fila con etiqueta 'b' y columna 'Edad'
df.loc['b', 'Edad_Cliente']

# Seleccionar las filas 'a' a 'c' y las columnas 'Nombre' y 'Edad'
df.loc['a':'c', ['Nombre_Cliente', 'Edad_Cliente']]

# Seleccionar todas las filas y solo la columna 'Ciudad'
df.loc[:,'Genero_Cliente']

df.loc[:,['Edad_Cliente', 'Genero_Cliente']]
df.loc[['a','b'],['Edad_Cliente', 'Genero_Cliente']]

# Seleccionar todas las filas donde 'Edad' es mayor que 25
df.loc[df['Edad_Cliente'] > 25]

  Nombre_Cliente  Edad_Cliente Genero_Cliente
d           Juan            26              M

:::{admonition} **Ejercicio 3**
:class: tip

Se recolectaron datos de 8 estudiantes universitarios y se resumieron en la siguiente tabla:

<div align="center">

|MASA| ESTATURA| GENERO| ESTRATO |FUMA|
|----|---------|--------|--------|----|
|71 |183| HOMBRE |2| NO|
|45| 168 |HOMBRE| 1 |NO|
|50| 164 |HOMBRE| 1 |NO|
|60| 164 |MUJER |3 |SI|
|61| 167 |HOMBRE| 3| SI|
|84| 182 |HOMBRE| 3| NO|
|55| 168 |MUJER |3 |NO|
|60| 170 |HOMBRE| 3 |SI|

</div>

1. Crear un data frame y llamarlo __df__.
2. Realizar un análisis descriptivo básico de todas las variables.
3. Extraer un subconjunto de datos con los primeros 4 estudiantes y llamarlo __subc1__.
4. Extraer las variables categóricas y guardarlas en un subconjunto llamado __subc2__
5. Extraer las variables numéricas y guardarlas en un subconjunto llamado __subc3__

:::